.container{
    margin: 10px auto;
    width: 80%;
    display: flex;
    justify-content: center;
}
h2,h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
canvas{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px auto;

    border-radius: 20px;
}
